@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*{
    text-decoration: none;
    margin: 0 ;
    padding :0;
    box-sizing: border-box;
}
body{
    background-size: cover;
    display: flex;
    background-image: url("section1.png");

    
    
}
.header{
    
    width: 100%;
    height: 15vh;
    background-color: rgb(232, 156, 36, 1);
    color: white;
    text-align: center;
    border-bottom: 0.5vh solid yellow;
    position: absolute;
}
.container{
    margin-top: 0;
}
#i_imagem{
    display: flex ;
     top: -10vh;
     left: 6vw;
    position: relative;
    height: 35vh;
    width: 15vw;
}

.navbar{
    
    justify-self: space-around;
    
    position: relative;
    list-style: none;
    margin-top: 5px;
    top: -25vh;
    padding-left: 55vw;
    font-weight: 800;
    font-size: larger;
font-family: Anonymous Pro;    

}
#home:hover{
    transition: all 2 ease-in;
    text-decoration: underline; 
    text-decoration-style: solid;
    font-size: x-large;


} 
#cadastro:hover{
    transition: all 2 ease-in;
    text-decoration: underline; 
    text-decoration-style: solid;
    font-size: x-large;;

} 
#login:hover{
    transition: all 2 ease-in;
    text-decoration: underline; 
    text-decoration-style: solid;
    font-size: x-large;


} 
.Sessao1{
  margin-top: 30vh;
    
}
.Texto1{
    border: 2px double white;
    margin-top: 2vh;
    color: white;
    font-family: 'Anonymous Pro';
}
.Texto2{
    color: white;
  font-family: 'Anonymous Pro';
font-weight: 1000;
font-size: 35px;

}





