@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,700&family=Oxygen:wght@300;400;700&family=Zilla+Slab:ital,wght@0,300;0,400;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory:ital,wght@0,400;1,300&display=swap');

*{
    text-decoration: none;
    margin: 0 ;
    padding :0;
    box-sizing: border-box;
    
}body{
    height: 100%;
    width: 100%;
    display: flex;

    overflow-y: scroll;

    
    
}
.header{
    display: flex;
    width: 100%;
    height: 17vh;
    background-color: rgb(232, 156, 36, 1);
    color: white;
    text-align: center;
    border-bottom: 0.5vh solid yellow;
    position: absolute;
    justify-content: center;
}
#navbar1{
    margin-top: 2.5vh;
}

#i_imagem{
    display: flex ;
     top: -9vh;
     left: 4vw;
    position: relative;
    height: 35vh;
    width: 15vw;
}

.navbar{
    
    justify-self: space-around;
    
    position: relative;
    list-style: none;
    margin-top: 1vh;
    top: -26vh;
    padding-left: 55vw;
    font-weight: 800;
    font-size: larger;
    font-family: Anonymous Pro;    

}
.Sessaocur1{
   

    background-image: url("../assets/imgs/sessaocur1.jpg");
    background-size: cover;
    
    
}
main{
    display:flex;
    flex-direction: column;
}
.navbar1{
    
    justify-self: space-around;
    
    position: relative;
    list-style: none;
    margin-top: 1vh;
    top: -24vh;

    padding-left: 55vw;
    font-weight: 800;
    font-size: larger;
    font-family: Anonymous Pro;    

}
#home{
    color:white
}
#cadastro{
    color: white;
}
#login{
    color: white;
}
#curiosidades{
    color: white;
}
#home:hover{
    transition: all 0.6s ease-in;
    text-decoration: underline; 
    text-decoration-style: solid;
    font-size: x-large;
    color: darkred;


} 
#cadastro:hover{
    transition: all 0.6s ease-in;
    transform: scale(1.1);
    text-decoration: underline; 
    text-decoration-style: solid;
    font-size: x-large;
    color: darkred;

} 
#login:hover{
    transition: all 0.6s ease-in;
    transform: scale(1.1);
    text-decoration: underline; 
    text-decoration-style: solid ;
    font-size: x-large;
    color: darkred;


} 
#curiosidades:hover{
    transition: all 0.6s ease-in;
    transform: scale(1.1);
    text-decoration: underline; 
    text-decoration-style: solid ;
    font-size: x-large;
    color: darkred;
}
.Sessao1{
  margin-top: 17vh;
  height: 100vh;
  width: 121%;
  background-image: url("../assets/imgs/sessao1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  opacity: 100;
  position: relative;
  justify-content: center;
  align-items: center;
}
.Sessao1cur{
    height: 120vh;
    width: 220%;
    background-image: url("../assets/imgs/sessaocur1.png");
    margin-top: 15vh;
    background-size: cover;
    opacity: 150%;
    border-bottom: 7px solid white;
}

.Sessao2{
    border-top: 5px solid white;
    height: 80vh;
    width: 121%;
    background-image: url("../assets/imgs/sessao2.png");
    background-size: cover;
}
  .Texto2{
      margin-top: 20vh;
      color: rgb(250, 249, 249);
    font-family: Oxygen;
  font-weight: 1000;
  font-size: 35px;
  margin-left: 2vw;
  
  
}
.Texto1{
    display: block;
    width: 80vw;
    margin-left: 2vw;
    margin-top: 15vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10vh;
    padding-left: 20vw;
    font-family: Zilla Slab;
    font-weight: 900;
    font-size: 25px;
    text-decoration: none;
}
#textosection1{
    text-decoration: none;
    color: rgb(255, 252, 251);;
}
.Texto1:hover{
    transition: all 1s ease-in;
    transform: scale(1.1);

    cursor: pointer;
}
.textoprincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    text-align: justify;
    width: 55vw;
    margin-left: 25vw;
    font-family: Oxygen;
    font-size: 300%;
    color: white;
    margin-top: 17vh;
    
}
.texto3{
    width: 20vw;
    font-size: large;
    font-family: Amiko;
    padding-top: 2%;

}
.button{
    border-radius: 15px;
    width: 5vw;
    background-color: rgba(238, 255, 5, 0.63);
    color: rgb(255, 34, 5);;
    border: 2px solid rgba(10, 10, 10, 0.199);
    font-family: Oxygen;
    height: 8%;
}
#btn_cadastro:hover{
    transition: all 1s ease-in;
    transform: scale(1.1);
    background-color: rgb(232, 156, 36, 1);
    cursor: pointer;
}
#botaologin:hover{
    transition: all 1s ease-in;
    transform: scale(1.1);
    background-color: rgb(232, 156, 36, 1);
    cursor: pointer;
}
footer{
    position: fixed;
    bottom: 0;
    background-color: rgba(218, 255, 6, 0.315);
    color: #FFF;
    width: 100%;
    height: 60px;    
    text-align: center;
    line-height: 100px;
}
.sessaocadastro{
    display: flex;
    background: linear-gradient(rgba(250, 37, 9), #F27B35);
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    


}
.card{
    height: 68vh;
    width: 25%;
    margin-top: 3%;
    text-align: center;
    border-radius: 30px 0 ;
    background-color: #FFF;
    position: absolute;

}
#i_img{
    height: 40%;
    width: 30%;
    margin-top: 3%;
    margin-left: 60%;
}
#i_img1{
    height: 40%;
    width: 30%;
    margin-top: 3%;
    margin-left: 80%;
}
.tipo_campo{
    font-family: Oxygen;
    font-weight: 900;
}
.titulocadastro{
    font-family: Glory;

}
.i_cad{
    border-radius: 10px 0;
}
.loading-div {
    width: 50px;
    margin: auto;
    display: none;
  }
  
  .loading-div img {
    height: 50px;
    width: 50px;
  }
#logindiv{
    height: 40%;
    text-align: center;
}
#a_login{
    text-decoration: none;
    color: black;
    font-family: Oxygen;
    font-size: smaller;
}
#a_login:hover{
    text-decoration: underline;
    text-decoration-color: blue;
    color: blue;
}
#sessaologin{
    width: 100;
    
}
h2{
    font-family: Glory;
}
#i_imagem1{
    top: -5vh;
    left: -2vw;
    height: 35vh;
    width: 18vw;
}
#tituloAquario{
    font-family: Glory;
    color: white;
}

#canvas_grafico {
    transition: all 0.8s ease-in-out;
}

#canvas_grafico:hover{   
transform: scale(1.1);
}
#b_usuario{
    color: #ffff;
}
#triangulo-para-direita {
    width: 0; 
    height: 0;
    display: flex; 
    justify-content: center;
    position: absolute;
    align-items: center;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fafafc;    
    align-self: center;
    top: 5%;
    cursor: pointer;
  }
  .textocur1{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;

font-family: Oxygen;
color: rgb(5, 5, 5);
width: 45vw;
height: 20vh;
opacity:100%;
margin-top: 12vh;
margin-left: 5%;
top: 55vh;
border-radius: 10px 0;
text-align: justify;
font-weight: 800;
  
}
  .insight{
margin-top: 13vh;
margin-left: 5%;
font-size: larger;
font-family: Glory;
font-weight: 800;

width: 53%;
opacity: 100%;

  }
  .textocur1:hover{
      transition: all 1s ease-in;
      transform: scale(1.1);
      opacity: 85%;

        
  }
#frase1cur{
    opacity: 150%;
    position: static;
    font-weight: 600;
}
.but{
    background-color: orange;
    border-radius: 20px 0;
    border: 2px double;
    font-family: Anonymous Pro;
    width:15vh;
    cursor: pointer;



}
.but:hover{
    transform: scale(1.1);
      transition: all 1s ease-in-out;
}
      
  .insight:hover{
      transform: scale(1.1);
      transition: all 1s ease-in-out;
   opacity: 100%;   
  }
  #i_imagemcur{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1.5%;
      height: 14vh;
      width: 25vw;
  }
  #triangulo-para-direita1 {
    width: 0; 
    height: 0;
    display: flex; 
    justify-content: center;
    position: absolute;
    align-items: center;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #f81404;    
    align-self: center;
    margin-top: -10vh;
    margin-left: 65%;
    cursor: pointer;
    flex-direction: row;
   
  }
  .musica1{
      display: flex;
      position: absolute;
      font-family: Anonymous Pro;
      background-color: rgb(247, 141, 2);
        justify-content: center;
        margin-left: 80vw;
        margin-top: -5vh;
        padding-top: 7px;
        color: rgb(7, 7, 7);
     height: 5vh;
      width:11vw;
      border-radius: 15px ;
      border: 2px double red;
      cursor: pointer;
  }
  #music2{
      margin-top: 55vh;
      right: 9vw;
      opacity: 80%;
  }
  .sessaocur2{
      display: flex;
      position: relative;
      flex-direction: column;
  }
  #i_imagemcur2{
      display: block;
      margin-left: auto;
      margin-right: auto;
padding-right: 5vw;
      justify-content: center;
      margin-top: 1vh;
      width: 28vw;
      height: 25vh;
  }
  .sessaocur2{
      background-image: url("../assets/imgs/sessao2cur.jpg");
      height: 120vh;
      margin-top: 0.5vh;
      width: 220%;
  }
  .sessaocur3{
      background-image: url("../assets/imgs/sessao3cur.png");
      background-size: cover;
      background-blend-mode: darken;
      height: 140vh;
      margin-top: 0.5vh;
      width: 220%;
      opacity: 150%;
  }
  #voltar{
      color: white;
  }
  #voltar:hover{
    transition: all 0.6s ease-in;
    text-decoration: underline; 
    text-decoration-style: solid;
    font-size: x-large;
    color: darkred;


} 
.card{
    
}