@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,700&family=Oxygen:wght@300;400;700&family=Zilla+Slab:ital,wght@0,300;0,400;1,300&display=swap');


*{
    text-decoration: none;
    margin: 0 ;
    padding :0;
    box-sizing: border-box;
    
}
body{
    height: 100%;
    width: 100%;
    display: flex;

    overflow-y: scroll;

    
    
}
.header{
    
    width: 100%;
    height: 17vh;
    background-color: rgb(232, 156, 36, 1);
    color: white;
    text-align: center;
    border-bottom: 0.5vh solid yellow;
    position: absolute;
}

#i_imagem{
    display: flex ;
     top: -10vh;
     left: 6vw;
    position: relative;
    height: 35vh;
    width: 15vw;
}

.navbar{
    
    justify-self: space-around;
    
    position: relative;
    list-style: none;
    margin-top: 1vh;
    top: -28vh;
    padding-left: 55vw;
    font-weight: 800;
    font-size: larger;
    font-family: Anonymous Pro;    

}
#home{
    color:white
}
#cadastro{
    color: white;
}
#login{
    color: white;
}
#home:hover{
    transition: all 0.6s ease-in;
    text-decoration: underline; 
    text-decoration-style: solid;
    font-size: x-large;
    color: darkred;


} 
#cadastro:hover{
    transition: all 0.6s ease-in;
    transform: scale(1.1);
    text-decoration: underline; 
    text-decoration-style: solid;
    font-size: x-large;
    color: darkred;

} 
#login:hover{
    transition: all 0.6s ease-in;
    transform: scale(1.1);
    text-decoration: underline; 
    text-decoration-style: solid ;
    font-size: x-large;
    color: darkred;


} 
.Sessao1{
  margin-top: 0;
  height: 100vh;
  width: 121%;
  background-image: url('../assets/imgs/section1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  opacity: 100;
  position: relative;
  justify-content: center;
  align-items: center;
}

.Sessao2{
    border-top: 5px solid white;
    height: 80vh;
    width: 121%;
    background-image: url("../assets/imgs/section2.jpg");
    background-size: cover;
}
  .Texto2{
      margin-top: 20vh;
      color: rgb(250, 249, 249);
    font-family: Oxygen;
  font-weight: 1000;
  font-size: 35px;
  margin-left: 2vw;
  
  
}
.Texto1{
    display: block;
    width: 80vw;
    margin-left: 2vw;
    margin-top: 2vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 10vh;
    padding-left: 20vw;
    font-family: Zilla Slab;
    font-weight: 900;
    font-size: 25px;
    text-decoration: none;
}
#textosection1{
    text-decoration: none;
    color: rgb(255, 252, 251);;
}
.Texto1:hover{
    transition: all 1s ease-in;
    transform: scale(1.1);

    cursor: pointer;
}
.textoprincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    text-align: justify;
    width: 55vw;
    margin-left: 25vw;
    font-family: Oxygen;
    font-size: 300%;
    color: white;
    margin-top: 17vh;
    
}
.texto3{
    width: 20vw;
    font-size: large;
    font-family: Amiko;
    padding-top: 2%;

}
.button{
    border-radius: 15px;
    width: 5vw;
    background-color: rgba(232, 157, 36, 0);
    color: rgb(255, 34, 5);;
    border: 2px solid rgba(10, 10, 10, 0.199);
    font-family: Amiko;
    height: 2%;
}
#btn_saibamais:hover{
    transition: all 1s ease-in;
    transform: scale(1.1);
    background-color: rgb(232, 156, 36, 1);
    cursor: pointer;
}
footer{
    position: fixed;
    bottom: 0;
    background-color: rgba(218, 255, 6, 0.479);
    color: #FFF;
    width: 100%;
    height: 100px;    
    text-align: center;
    line-height: 100px;
}



